<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon"  href="/static/vocabulary/favicon/favicon.ico" sizes="any">
<link rel="icon" href="/static/vocabulary/favicon/favicon.svg" type="image/svg+xml">
<link rel="manifest" href="/static/vocabulary/favicon/manifest.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="/static/vocabulary/favicon/apple-touch-icon.png" />
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/pygments.css">
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/datatable/datatables.js"></script>
<script type="text/javascript" src="/static/js/table.js"></script>
<meta property="og:site_name" content="Creative Commons" />
<meta property="og:title" content="The specifics - Revamping CCOS" />



<meta property="og:description" content="In this blog, I will be talking about how I managed to use Vocabulary ( Creative Commons&#39;s Design Library ) efficiently in our Open Source website." />


<meta property="og:url" content="/blog/entries/the-specifics-revamping-CCOS/" />
<meta property="og:type" content="article" />


  
  

  
    
  

  
    
    
  

  

  <meta property="og:image" content="https://cc-og-image.vercel.app/The specifics - Revamping CCOS.png?&amp;md=1&amp;fontFamily=roboto-condensed&amp;fontSize=100px&amp;images=https%3A%2F%2Fcc-vocabulary.netlify.app%2Flogos%2Fproducts%2Fopen_source.svg%23opensource" />
  <meta name="description" content="The specifics - Revamping CCOS - CC Open Source" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="The specifics - Revamping CCOS">
<meta name="twitter:description" content="In this blog, I will be talking about how I managed to use Vocabulary ( Creative Commons&#39;s Design Library ) efficiently in our Open Source website.">

<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:creator" content="@creativecommons">
<title>The specifics - Revamping CCOS — Creative Commons Open Source</title>

<body  class="blog-post" >

<a class="skip-to-content" href="#main-content-marker">Skip to content</a>
<header>
    <div class="masthead">
        <h1><a class="identity-logo product" href="/">Open source</a></h1>
        <button class="expand-menu">Menu</button>
        <nav class="primary-menu">
            <ul>
                <li><a href="/blog/entries/">Blog</a></li>
                <li><a href="/contributing-code/">Contribute</a></li>
                <li><a href="/community/">Community</a></li>
                <li><a href="/programs/">Work Programs</a></li>
            </ul>
            <!--TODO: Evaluate use of dropdown/secondary menu-->
        </nav>

        <nav class="ancillary-menu">
            <ul>
                <li><a class="donate icon-attach fa-heart" href="https://www.classy.org/give/313412/#!/donation/checkout?c_src=website&c_src2=top-of-page-banner" target="_blank">Donate</a></li>
                <li><button class="explore">Explore CC</button></li>
            </ul>
        </nav>
    </div>

    <div class="explore-panel">
    <!-- (optional main CC logo, p, link on non-home site back to main site) -->
    <aside>
      <a
        class="identity-logo"
        href="https://creativecommons.org"
        >Creative Commons</a
      >
      <h2>Our Work Relies On You!</h2>
      <p>Help us keep the internet free and open.</p>
    </aside>
    <nav class="explore-menu">
        <ul>
            <li>
                <a href="https://network.creativecommons.org/" target="_blank">Global Network</a>
                <p>Join a  global community working to strengthen the Commons</p>
            </li>
            <li>
                <a href="https://certificate.creativecommons.org/" target="_blank">Certificate</a>
                <p>Become an expert in creating and engaging with openly licensed materials</p>
            </li>
            <li>
                <a href="/chooser/" target="_blank">Chooser</a>
                <p>Get help choosing the appropriate license for your work</p>
            </li>
            <li>
                <a href="https://search.creativecommons.org/"  target="_blank">Search Portal</a>
                <p>Find engines to search openly licensed material for creative and educational reuse</p>
            </li>
        </ul>
    </nav>
    </div>

</header>



  <!-- Body -->
  <span id="main-content-marker"></span>
  <main>
  
<header>
  <h1>The specifics - Revamping CCOS</h1>
  <span class="byline"><a>by <a class="author-name" href="/blog/authors/dhruvi16/">Dhruvi Butti</a> on 2020-09-02</a></span>
  <span class="categories">
    
      
        
        
        <a href="/blog/categories/outreachy/">outreachy</a>
      
        
        
        <a href="/blog/categories/tech/">tech</a>
      
        
        
        <a href="/blog/categories/open-source/">open-source</a>
      
    
  </span>
</header>

<!-- TODO: IF EXCERPT IS TO BE INCLUDED, ADD EXCERPT HERE -->
<!--
  <aside class="opening">
    <p> </p>
  </aside>
-->

<div><p>In this blog, I will be talking about how I managed to use Vocabulary ( Creative Commons's Design Library ) efficiently in our Open Source website.</p>
<h3 id="what-is-vocabulary">What is Vocabulary?</h3><p><a href="https://cc-vocabulary.netlify.app/?path=/story/vocabulary-introduction--page">Vocabulary</a> is a cohesive design system to unite the web-facing Creative Commons. In essence Vocabulary is a component library that uses and extends Bulma CSS library. Vocabulary makes it easier to develop Creative Commons apps while ensuring a consistently familiar experience. This project is still under development.</p>
<h3 id="why-vocabulary">Why Vocabulary?</h3><p>Vocabulary is used to describe the overall visual design of our digital products. At first glance, it appears to be: an amalgamation of component designs with a consistent visual aesthetic and brand, typically accompanied by usage guidelines in the form of online documentation. But there is a lot more to it.
When it comes to a large software community with a huge range of products, certain problems come along. One of those problems is maintaining the level of harmony across all the products of the network. So, there comes a need for a unified visual language that heightens the level of harmony in a digital ecosystem. And in our case, Vocabulary solves this problem.
This design system is well built and helps us bring the following aspects to the table -</p>
<ol>
<li>Recognizability</li>
<li>Consistency</li>
<li>Authenticity</li>
<li>Efficiency</li>
</ol>
<p>And many more.</p>
<h3 id="how-did-i-use-it-examples">How did I use it? — Examples</h3><p>As I stated before, I have added Vocabulary by updating all the Templates in the CCOS <a href="https://www.getlektor.com/">Lektor</a> project.</p>
<p>As far as components are concerned, I just had to paste the code snippets given on the Vocabulary’s website with the requires changes -</p>
<h4 id="integration-of-breadcrumb">Integration of Breadcrumb -</h4><figure style="text-align: center;">
    <img src="breadcrumb.png" alt="Breadcrumb">
    <figcaption>Screenshot — <a href="https://cc-vocabulary.netlify.app/?path=/docs/navigation-breadcrumb--default-story">Breadcrumb</a> (Vocabulary)</figcaption>
</figure><p>The code for integration —</p>
<pre><code>&lt;!-- Breadcrumb --&gt;
  {% if this._path !=  '/'%}
    &lt;div class="breadcrumb-container"&gt;
      &lt;nav class="container breadcrumb caption bold" aria-label="breadcrumbs"&gt;
        &lt;ul&gt;
          {% set crumbs = [] %}
          {% set current = {'crumb': this} %}
          &lt;!-- Extracting the slugs of URL --&gt;
          {% for i in this._path.split("/") %}
            {% if current.crumb is not none %}
              {% if crumbs.insert(0, current.crumb._slug) %}{% endif %}
              {% if current.update({"crumb": current.crumb.parent}) %}{% endif %}
            {% endif %}
          {% endfor %}
          {% for crumb in crumbs %}
            &lt;!-- Active link --&gt;
            {% if this._slug == crumb %}
              &lt;li class="is-active"&gt;&lt;a aria-current="page displayed"&gt;{{ crumb | title | replace('-', ' ') }}&lt;/a&gt;&lt;/li&gt;
            {% else %}
              &lt;!-- Forming the URL using extracted slugs --&gt;
              {% set i = loop.index %}
              {% set ns = namespace (link = '') %}
              {% for j in range(i) %}
                {% set ns.link = ns.link + crumbs[j] + '/' %}
              {% endfor %}
              &lt;li&gt;&lt;a class="link" href="{{ ns.link|url }}"&gt;
              {% if crumb != '' %}
                {{ crumb | title | replace('-', ' ') }}
              {% else %}
                Home
              {% endif %}
              &lt;/a&gt;&lt;/li&gt;
            {% endif %}
          {% endfor %}
        &lt;/ul&gt;
      &lt;/nav&gt;
    &lt;/div&gt;
  {% endif %}
</code></pre>
<p>Other than the components, there are other visual elements like typography, colors, spacing, and others that are extensively used in CCOS.</p>
<p>This is code for the Hero section of the home page.</p>
<h5 id="the-block-template">The block template -</h5><pre><code>&lt;section class="hero"&gt;
  &lt;div class="container"&gt;
    &lt;div class="hero-title column is-12 is-paddingless"&gt;
      &lt;h1&gt;
        {{ this.title }}
      &lt;/h1&gt;
    &lt;/div&gt;
    &lt;div class="columns"&gt;
      &lt;div class="column is-5"&gt;
        &lt;p class="hero-description"&gt;
          {{ this.description }}
        &lt;/p&gt;
        {{ this.links }}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="level-right hero-image"&gt;
    &lt;img class="image" src="./github.svg" /&gt;
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>
<h5 id="the-block-styling">The block styling -</h5><pre><code>// Hero section - Home page
.hero {
  @extend .margin-top-large;

  .hero-title {
    @extend .padding-horizontal-big;
  }

  .hero-description {
    @extend .body-bigger;
    @extend .padding-top-big;
    @extend .padding-horizontal-big;
  }

  .hero-links {
    @extend .margin-vertical-normal;
    @extend .padding-horizontal-big;

    .button {
      @extend .margin-top-normal;
      text-decoration: none;

      .icon {
        @extend .margin-right-small;
        @extend .padding-vertical-smaller;
      }
    }
  }

  .hero-image {
    @include from($fullhd) {
      margin-top: -20rem;
      .image {
        width: 50%;
      }
    }
    @include until($fullhd) {
      .image {
        width: 100%;
      }
    }
  }
}
</code></pre>
<figure>
    <img src="output.png" alt="Output">
    <figcaption>Output</figcaption>
</figure><h3 id="improvements-in-the-lektor-project">Improvements in the Lektor project -</h3><p>I tried to write the perfect code that is cleaner and readable. I would try to demonstrate my effort using the home page code where I used <a href="https://www.getlektor.com/docs/models/flow/">Lektor Flowblocks</a>. The new homepage design have four sections where each section communicated something and I realized they were all independent and building the whole page through one single template would become a bit messy and hard to handle. So I did some research and found a way where I could build sub-templates and use them all to develop a single page and Lektor’s flowblocks allowed me to do so. Here is one of the flowblock and if you want to check out the whole working you can go to — <a href="https://github.com/creativecommons/ccos-website-source">CCOS Repository</a>.</p>
<h4 id="recent-blog-post-block">Recent Blog Post block -</h4><h5 id="the-block-template">The block Template -</h5><pre><code>{% from "macros/author_name.html" import render_author_name %}

&lt;section class="recent-posts"&gt;
  &lt;div class="container"&gt;
    &lt;div class="level"&gt;
      &lt;h2 class="is-paddingless level-left"&gt;
        {{ this.title }}
      &lt;/h2&gt;
      &lt;span class="level-right"&gt;
        &lt;a class="posts-link" href="/blog"&gt;See all posts &lt;i class="icon angle-right"&gt;&lt;/i&gt;&lt;/a&gt;
      &lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="columns"&gt;
      {% for post in site.query('/blog/entries') %}
        {% if loop.index &lt;= 3 %}
          {% set author = post.parent.parent.children.get('authors').children.get(post.author) %}
          &lt;div class="column is-one-third is-paddingless padding-horizontal-big padding-top-bigger"&gt;
            &lt;article class="card entry-post horizontal no-border blog-entry"&gt;
              &lt;header&gt;
                &lt;figure class="image blog-image"&gt;
                {% if author.about %}
                  {% if author.md5_hashed_email %}
                    &lt;img class="profile" src="https://secure.gravatar.com/avatar/{{ author.md5_hashed_email }}?size=200"
                    alt="gravatar" /&gt;
                  {% endif %}
                {% endif %}
                &lt;/figure&gt;
              &lt;/header&gt;
              &lt;div class="blog-content"&gt;
                &lt;h4 class="b-header"&gt;&lt;a class="blog-title" href="{{ post|url }}"&gt;{{ post.title }}&lt;/a&gt;&lt;/h4&gt;
                &lt;span class="blog-author"&gt;by &lt;a class="author-name" href="{{ author|url }}"&gt;{{ render_author_name(author) }}&lt;/a&gt;
                on {{ post.pub_date|dateformat("YYYY-MM-dd") }}&lt;/span&gt;
                &lt;div class="excerpt"&gt;
                  {{ post.body | excerpt | string | striptags() | truncate(100) }}
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/article&gt;
          &lt;/div&gt;
        {% endif %}
      {% endfor %}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
</code></pre>
<h5 id="the-block-model">The block Model -</h5><pre><code>[block]
name = Recent Posts

[fields.title]
label = Title
type = string
</code></pre>
<h5 id="the-block-styling">The block styling -</h5><pre><code>// Recent-posts section - Home page
.recent-posts {
  background-color: rgba(4, 166, 53, 0.1);

  .container {
    @extend .padding-vertical-xl;
    @extend .padding-horizontal-big;

    .columns {
      @extend .padding-top-bigger;
      @extend .padding-bottom-xl;
    }
  }

  .blog-title {
    @extend .has-color-dark-slate-gray;
  }

  .posts-link {
    @extend .has-color-forest-green;
    @extend .body-normal;

    font-weight: bold;
    line-height: 1.5;
    text-decoration: none;

    .icon {
      @extend .has-color-forest-green;
      @extend .padding-left-small;
    }
  }
}
</code></pre>
<figure>
    <img src="output2.png" alt="Output">
    <figcaption>Output — Recent blog posts.</figcaption>
</figure><p>I would also like to point out the amazing Query functionality provided by Lektor where you can access the child pages of the root. Here I am accessing blog posts from our Blog page and limiting the count of posts to three.</p>
<h3 id="difference-in-experience">Difference in Experience</h3><p>The level of user experience has been significantly elevated due to the use of Vocabulary. I would like to point one of the major experience change here. The major part of the website is guidelines — we have guidelines for contributing, guidelines for how to join a community, guidelines for how to write a blog and many more. The new website has cleaner and readable guideline with a proper hierarchy and every piece of information is made accessible using secondary navigation.</p>
<h5 id="below-are-the-images-of-some-guidelines-pages-from-new-website">Below are the images of some guidelines pages from new website.</h5><figure>
    <img width="300" height="300" src="new1.png" alt="Screenshot">
    <img width="300" height="300" src="new2.png" alt="Screenshot">
    <img width="300" height="300" src="new3.png" alt="Screenshot">
    <figcaption>Screenshots from new website</figcaption>
</figure><h5 id="below-are-the-images-of-some-guidelines-pages-from-old-website-you-can-see-the-difference-of-experience-in-both-cases">Below are the images of some guidelines pages from old website. You can see the difference of experience in both cases.</h5><figure>
    <img width="400" src="old1.png" alt="Screenshot">
    <img width="400" src="old2.png" alt="Screenshot">
    <figcaption>Screenshots from old website</figcaption>
</figure><h3 id="how-you-can-use-vocabulary-and-also-contribute-to-it">How you can use Vocabulary and also contribute to it?</h3><p>Vocabulary is very easy to use. It is intuitive, consistent and highly reusable. Vocabulary uses Storybook to present each visual element that makes it very convenient for a user to integrate Vocabulary in their project. The code snippets attached with every element can be copied as it is and can be used. The code snippets above indicate how the library can be used and how easily you can achieve desired web pages. For more details, you can visit <a href="https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-usage--page">usage guidelines</a>.</p>
<p>Vocabulary is still under development, feedback and bug reports are welcome, fixes and patches even more so. Here is the link to <a href="https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-contribution--page">contribution guidelines</a>.</p>
</div>


  
  <aside class="closing">
    <p>This blog is part of the series:
    <a href="/blog/series/outreachy-2020-CCOS/">Outreachy May 2020 round: CC Open source</a>
    </p>
  </aside>

  <article class="posts related">
    <h2>Related posts</h2>
    <ul>
      
        <li>
          <article class="post">
            <header>
              <h3><a href="/blog/entries/integration-vocabulary-ccos/">Integration of Vocabulary with CCOS.</a></h3>
              <span class="byline">by <a class="author-name" href="/blog/authors/dhruvi16/">Dhruvi Butti</a> on 2020-07-08</span>
              <span class="categories">
                
                  
                    
                    <a href="/blog/categories/outreachy/">outreachy</a>
                  
                    
                    <a href="/blog/categories/outreachy-2020/">outreachy-2020</a>
                  
                    
                    <a href="/blog/categories/tech/">tech</a>
                  
                    
                    <a href="/blog/categories/open-source/">open-source</a>
                  
                
              </span>
            </header>
          </article>
        </li>
      
        <li>
          <article class="post">
            <header>
              <h3><a href="/blog/entries/what-is-up-ccos/">What is up? - CCOS Revamp</a></h3>
              <span class="byline">by <a class="author-name" href="/blog/authors/dhruvi16/">Dhruvi Butti</a> on 2020-07-20</span>
              <span class="categories">
                
                  
                    
                    <a href="/blog/categories/outreachy/">outreachy</a>
                  
                    
                    <a href="/blog/categories/outreachy-2020/">outreachy-2020</a>
                  
                    
                    <a href="/blog/categories/tech/">tech</a>
                  
                    
                    <a href="/blog/categories/open-source/">open-source</a>
                  
                
              </span>
            </header>
          </article>
        </li>
      
        <li>
          <article class="post">
            <header>
              <h3><a href="/blog/entries/the-specifics-revamping-CCOS/">The specifics - Revamping CCOS</a></h3>
              <span class="byline">by <a class="author-name" href="/blog/authors/dhruvi16/">Dhruvi Butti</a> on 2020-09-02</span>
              <span class="categories">
                
                  
                    
                    <a href="/blog/categories/outreachy/">outreachy</a>
                  
                    
                    <a href="/blog/categories/tech/">tech</a>
                  
                    
                    <a href="/blog/categories/open-source/">open-source</a>
                  
                
              </span>
            </header>
          </article>
        </li>
      
    </ul>
  </article>


<article class="tags">
  <h2>Tags</h2>
  <ul>
    
      
        
        <li><a href="/blog/categories/outreachy/">outreachy</a></li>
      
        
        <li><a href="/blog/categories/tech/">tech</a></li>
      
        
        <li><a href="/blog/categories/open-source/">open-source</a></li>
      
    
  </ul>
</article>

<div class="comments">
<div id="disqus_thread"></div>
<script>
  var disqus_config = function() { this.page.identifier = "/blog/entries/the-specifics-revamping-CCOS"; this.page.url = "http://opensource.creativecommons.org/blog/entries/the-specifics-revamping-CCOS/"; };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//cc-open-source.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
    rel="nofollow">comments powered by Disqus.</a>
</noscript>
</div>

  </main>

  <!-- Footer -->
  <footer>
    <a class="identity-logo" href="https://www.creativecommons.org">Creative Commons</a>

    <nav class="footer-menu" aria-label="Footer menu">
        <ul>
          <li>
            <a href="https://creativecommons.org/about/contact/" target="_blank">Contact</a>
          </li>
          <li>
            <a href="https://mail.creativecommons.org/subscribe" target="_blank">Newsletter</a>
          </li>
          <li>
            <a href="https://creativecommons.org/privacy/" target="_blank">Privacy</a>
          </li>
          <li>
            <a href="https://creativecommons.org/policies/" target="_blank">Policies</a>
          </li>
          <li>
            <a href="https://creativecommons.org/terms/" target="_blank">Terms</a>
          </li>
        </ul>
    </nav>

    <div class="contact">
    <h2>Contact Us</h2>
    <p>Creative Commons <br /> PO Box 1866, Mountain View, CA 94042</p>
    <p><a href="mailto:info@creativecommons.org">info@creativecommons.org</a></p>

    <nav class="social-menu" aria-label="Social menu">
        <ul>
            <li><a class="icon-replace fa-bluesky" href="https://bsky.app/profile/creativecommons.bsky.social" target="_blank">Bluesky</a></li>
            <li><a class="icon-replace fa-mastodon" href="https://mastodon.social/@creativecommons" target="_blank">Mastodon</a></li>
            <li><a class="icon-replace fa-linkedin" href="https://www.linkedin.com/company/creative-commons/" target="_blank">LinkedIn</a></li>
        </ul>
    </nav>
    </div>

    <div class="subscribe">
    <h2>Subscribe to our Newsletter</h2>
    <form action="https://creativecommons.us4.list-manage.com/subscribe/post?u=fd30364b6577b471373d6076c&amp;id=4603fe102a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter" target="_blank">
        <input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="Your email" required>
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input type="text" name="b_fd30364b6577b471373d6076c_4603fe102a" tabindex="-1" value="">
        </div>
        <input type="submit" value="subscribe" id="mc-embedded-subscribe" class="button small">
      </form>
    </div>

    <div class="donate">
        <h2>Support Our Work</h2>
        <p>Our work relies on you! Help us keep the Internet free and open.</p>
        <a class="donate icon-attach cc-heart-filled" href="https://www.classy.org/give/313412/#!/donation/checkout?c_src=website&c_src2=top-of-page-banner" target="_blank">Donate Now</a>
    </div>


    <div class="license">
        <p>Except where otherwise <a href="https://creativecommons.org/policies/#license">noted</a>, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>. Icons by <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.</p>

        <svg>
            <use href="/static/vocabulary/svg/cc/icons/cc-icons.svg#cc-logo"></use>
        </svg>
        <svg>
            <use href="/static/vocabulary/svg/cc/icons/cc-icons.svg#cc-by"></use>
        </svg>
    </div>
  </footer>
  <script src="/static/vocabulary/js/vocabulary.js"></script>
 </body>
</html>
